In [ ]:
%load_ext sql

In [ ]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

In [ ]:
%sql SELECT * FROM songplays LIMIT 5;

In [ ]:
%sql SELECT * FROM users LIMIT 5;

In [ ]:
%sql SELECT * FROM songs LIMIT 5;

In [ ]:
%sql SELECT * FROM artists LIMIT 5;

In [ ]:
%sql SELECT * FROM time LIMIT 5;

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).

In [ ]:
%sql select count(*) from time; --- 6813

In [ ]:
%sql select count(*) from artists; -- 69

In [ ]:
%sql select count(*) from songs; -- 71

In [ ]:
%sql select count(*) from users; -- 96

In [ ]:
%sql select count(*) from songplays; -- 6820

In [ ]:
%%sql
select 
    s.user_id, u.first_name, u.last_name, s.artist_id, a.name, t.year, count(song_id)
from songplays s
    join users u
        on s.user_id = u.user_id
    join artists a
        on s.artist_id = a.artist_id
    join time t
        on s.start_time = t.start_time
where s.user_id = 15
and s.artist_id = 'AR5KOSW1187FB35FF4'
and t.year = '2018'
group by s.user_id, u.first_name, u.last_name, s.artist_id, a.name, t.year